<div class="main-box" >
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickPlaygroup()">
        <h1  class="card-title">PlayGroup</h1>
    </div>
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickPrekg()">
        <h1  class="card-title">PreKG</h1>
    </div>
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickLKG()">
        <h1  class="card-title">LKG</h1>
    </div>
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickUKG()">
        <h1  class="card-title">UKG</h1>
    </div>
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickExtracurricular()">
        <h1  class="card-title">EXTRA CURRICULAR</h1>
    </div>
</div>
