<div class="main-box" >
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickPermanentstaffs()">
        <h1  class="card-title">Permanent Staffs</h1>
    </div>
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickTrainees()">
        <h1  class="card-title">Trainess</h1>
    </div>
    <div class="card" style="width: fit-content; padding: 10px;" (click)="onClickTeachertraining()">
        <h1  class="card-title">Teachers Training</h1>
    </div>
</div>
